<h1>Home#admin</h1>
<p>Find me in app/views/home/admin.html.erb</p>

<%= link_to "Criar Porta", admin_new_door_path %>
<%= link_to "Criar Porta", admin_new_door_path %>
<%= link_to "Criar Porta", admin_new_door_path %>
<%= link_to "Criar Porta", admin_new_door_path %>